@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<StudenteDto>;						   
														   <!-- Esta linha define o tipo de dado que será passado para a view. No caso, é uma
														   coleção (enumerável) de objetos do tipo StudenteDto. A classe que contém as
														   propriedades como Nome, Cognome, CodiceFiscale, DataDiNascita, e CorsoId. -->

@{
}
<div class="card">								           <!-- Estou abrindo um card que é um container de conteúdo flexível e extensível.
														   Ele tem opções para cabeçalhos e rodapés, uma larga variedade de conteúdo, cores
														   de background contextuais e opções de display. -->
	<div class="card-header">Risultati:</div>			   <!--  Estou separando um bloco do card para colocar o título. -->
	<div class="card-body">                                <!--  Estou separando um bloco do card para colocar o corpo, nele pode conter
														   apenas o texto ou posso colocar configurações especiais como título, subtítulo
									                       e até mesmo tabelas e etc. -->
		<table class="table table-striped">         	   <!-- Esse comando indica que estamos começando a desenhar uma tabela. -->
			<tr>                   				           <!-- Esse comando <tr>, table row indica que está começando uma linha da
														   tabela. -->
				<th>Nome</th> 				               <!-- Esse comando <th>, table header indica que está inserindo um título da
					                                       tabela. -->
				<th>Cognome</th>					
				<th>Codice fiscale</th>
				<th>Data di nascita</th>
				<th>Corso Id</th>
			</tr>
			@foreach (var item in Model)				   
			{
				<tr>
					<td>@item.Nome</td>					   <!-- Esse comando <td>, table data indica que está inserindo os dados daquela
														   linha na tabela. -->
					<td>@item.Cognome</td>				   <!-- O item é o nome de variável usada para representar cada objeto em uma
														   coleção (no caso, a coleção de estudantes do tipo IEnumerable<StudenteDto>).
														   O nome item é definido dentro do loop foreach. Cada item no loop representa
														   um objeto do tipo StudenteDto. O arroba em Razor, é usado para indicar que
														   o que vem a seguir é código C#. Isso é necessário para misturar HTML com C#
														   dentro da view. Então, quando você usa @item.Nome, o Razor sabe que deve
														   buscar o valor da propriedade Nome do objeto item em C#. -->
					<td>@item.CodiceFiscale</td>
					<td>@item.DataDiNascita</td>
					<td>@item.CorsoId</td>
				</tr>
			}
		</table>

	</div>
</div>
